.aboutContainer {
    margin-right: 30px;
}

.timelineContainer {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 10px solid rgb(255, 254, 254);
    box-shadow: 2px 2px 2px 2px lightgray;
    padding: 20px;
    position: relative;
}

.timeline img {
    position: absolute;
    opacity: 0.5;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    top: 0;
    left: 0;

}

.ButtonCvContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}