.ProjectContainer {
    margin: 0 20px;
}

.projectCardContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    border-radius: 20px;
    border: 10px solid rgb(255, 254, 254);
    box-shadow: 2px 2px 2px 2px lightgray;
    margin-top: 30px;
    justify-content: center;

}
