.ProjectCardItem {
    text-align: center;
    padding: 20px;
}

.projectCardComponent {
    margin: 30px;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-card {
    padding: 10px;
    margin: 10px;
    max-width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 20px;
    border: 10px solid rgb(255, 254, 254);
    box-shadow: 2px 2px 2px 2px lightgray; 
    background-color: rgb(213, 249, 255);
   
}

/* .imgProjectCard {
    position: absolute;
    opacity: 0.5;
    border-radius: 20px;
  } */

.project-card img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 2px 3px 4px 3px lightgray;
}

.project-card h3 {
    color: red;
    font-family: 'Press Start 2P', cursive;
}

.project-card p {
    color: black;
    font-size: 16px;
    /* display: flex;
    justify-content: center; */
    /* font-family: 'Press Start 2P', cursive; */
}

.project-card .link {
    display: flex;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    border: 4px solid white;
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

.project-card .link svg {
    font-size: 20px;
    font-weight: 300;
}