.projectCardComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 10px solid rgb(255, 254, 254);
    box-shadow: 2px 2px 2px 2px lightgray;
    padding: 20px;
    position: relative;
    margin-top: 30px;
    max-width: 1440px;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.5;
}

.imgProjectCard {
    position: absolute;
    opacity: 0.5;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    top: 0;
}

.projectContent {
    left: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    margin: 20px;
}

.projectContent h2 {
    color: red;
    font-size: 30px;
}

.projectContent h3 {
    color: red;
    font-size: 16px;
}

.projectContent .buttonLink {
    border-radius: 20px;
    border: 10px solid rgb(255, 254, 254);
    box-shadow: 2px 2px 2px 2px lightgray;
    padding: 5px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 20px;
}

.buttonLink svg {
    font-size: 40px;
    padding-right: 10px; 
}

.projectContent img {
    width: 380px;
    /* object-fit: cover; */
    border-radius: 20px;
    border: 10px solid rgb(255, 254, 254);
    box-shadow: 2px 2px 2px 2px lightgray;
}

.imgContentProjet {

    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    position: relative;

}