.home {
    max-width: 1240px;
    margin: 0px auto;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
}

.presentation {
    margin: 30px;
    font-family: 'Press Start 2P', cursive;
}

.buttonCvHome {
    display: flex;
    
}