/* .home {
    max-width: 1240px;
    margin: 10px auto;
    border-radius: 20px;
    
   

} */

.presentation {
    margin: 40px;
    font-family: 'Press Start 2P', cursive;
    /* display: flex;
    justify-content: center; */
}