.home {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.presentation {
    margin: 30px;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.buttonCvHome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    height: 50px;
}

@media (max-width: 768px) {
    .home {
        height: auto;
        padding: 20px;
    }

    .presentation {
        flex-direction: column;
        text-align: center;
    }

    .buttonCvHome {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .presentation {
        margin: 20px;
    }

    .buttonCvHome p {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .home {
        height: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .presentation {
        flex-direction: column;
        text-align: center;
        height: auto;
        margin-bottom: 10px; 
    }

    .buttonCvHome {
        width: 90%;
        height: 100px;
        margin-top: 10px;

    }
}

/* Adaptation pour les très grands écrans */
@media (min-width: 1440px) {
    .home {
        max-width: 1600px; /* Augmente la largeur max */
        padding: 50px;
    }

    .presentation {
        width: 80%; /* Réduit la largeur pour éviter trop d’étalement */
        max-width: 1200px;
    }

    .buttonCvHome {
        width: 50%;
        height: 70px;
    }
}

@media (min-width: 1920px) {
    .home {
        max-width: 1800px;
    }

    .presentation {
        width: 70%;
    }

    .buttonCvHome {
        height: 80px;
    }
}
