.headerContainer {
    margin: 0px auto;
    background: #feffc3;
    border: 10px solid rgb(255, 254, 254);
    box-shadow: 2px 2px 2px 2px lightgray;
    background-color: rgb(250, 234, 234);
    width: 300px;
}






