.slideshowContainer {
    max-width: 1240px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: auto;
}


.imgSlideshow {
    object-fit: cover;
    border-radius: 25px;
    /* height: 415px; */
    width: 100%;
    height: auto;
    /* width: 380px; */
    /* object-fit: cover; */
    border-radius: 20px;
    border: 10px solid rgb(255, 254, 254);
    box-shadow: 2px 2px 2px 2px lightgray;
    /* max-width: 100%;
    max-height: 100%; */
}

.leftArrow {
    display: flex;
    position: absolute;
    cursor: pointer;
    background: transparent;
    left: -10px;
    font-size: 30px;
    color: red;
}

.rightArrow {
    display: flex;
    position: absolute;
    cursor: pointer;
    background: transparent;
    right: -10px;
    font-size: 30px;
    color: red;
}