
/* barre navigation */
.sidebar {
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
    object-fit: cover;
}

.sidebar svg {
    font-size: 30px;
    align-items: center;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0px;
}

.sidebar li {
    height: 50px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    display: flex;
    color: black;
}

/* page active*/
.sidebar .link-active {
    color: red;
}

/* hover souris */
.sidebar li:hover {
    border: 2px solid red;
    cursor: pointer;
}

.sidebarContact a:hover {
    color: red;
    cursor: pointer;
}

