.footerContainer {
    border: 10px solid rgb(255, 254, 254);
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 20px;
    /* position: static; */
    height: 370px;
    max-width: 1440px;
    margin: auto;
    width: 1450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgfooter {
    object-fit: cover;
    width: 95%;
    border-radius: 20px;
    position: absolute;
    height: 370px;
    opacity: 0.5;
    max-width: 1440px;
}

.footerContainer a {
    font-size: 50px;
    color: black;
    position: relative;
    margin-right: 50px;
    text-decoration: none;
}

.footerContainer p {
    position: relative;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
}