.toggleComponent {
    position: relative;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.on-off-button {
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 50px;
    
}

.on-off-button.on {
    color: blueviolet;
    font-weight: bold;
}

.on-off-button.off {
    color: rgb(250, 18, 192);
    font-weight: bold;
}